[Unit]
Description=Kanshi output profile management
Documentation=man:kanshi(1)
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=sway-session.target
