[user]
    name = Ali Kaafarani
    email = ali@kvikshaug.no
    signingkey = 3624317D5BD201F8E93D9BD1916A78330030199E

[core]
    editor = vim
    whitespace = space-before-tab,trailing-space,cr-at-eol

[alias]
    ci = commit
    amend = commit --amend
    st = status -sb
    br = branch
    co = checkout
    df = diff
    fp = fetch --prune
    rb = rebase
    rank = shortlog -sn --no-merges
    lg = log --graph --abbrev-commit --date=relative --pretty=format:'%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    gr = grep --heading --break
    conflicted = diff --name-only --diff-filter=U

[branch]
    autosetupmerge = always

[merge]
    conflictstyle = diff3

[push]
    default = current

[log]
    date = default

[color]
    branch = true
    status = true
    diff = true
    grep = true
    interactive = true

[help]
    format = man #/html
    browser = chrome
    autocorrect = -20

[instaweb]
    httpd = lighttpd
    browser = chrome

[web]
    browser = chrome

[browser "chrome"]
    cmd = chromium

[grep]
    extendRegexp = true
    lineNumber = true

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[diff]
    compactionHeuristic = true

[commit]
     verbose = true
