[user]
	name = Ali Kaafarani
	email = ali@kvikshaug.no
[alias]
        ci = commit
        st = status -sb
        br = branch
        co = checkout
# Tbh, word-diff didn't really give a clearer picture of the diff
#        df = diff --word-diff
        df = diff
	lg = log --graph --abbrev-commit --date=relative --pretty=format:'%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen(%cr)%Creset'
        # --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr)%Creset'
[branch]
	autosetupmerge = always
[push]
	default = upstream
[core]
	editor = vim
#[achievement]
#	upload = true
[color]
        branch = true
        status = true
        diff = true
[log]
        date = relative
[help]
        format = man #/html
        browser = opera
        autocorrect = -20
[instaweb]
        httpd = lighttpd
        browser = opera
[web]
        browser = opera
[browser "opera"]
        cmd = opera
[merge]
	conflictstyle = diff3
