[user]
  name = Ali Kaafarani
  email = ali@kvikshaug.no
  signingkey = 3624317D5BD201F8E93D9BD1916A78330030199E

[core]
  editor = vim
  whitespace = space-before-tab,trailing-space,cr-at-eol

[alias]
  st = status -sb
  lg = log --graph --abbrev-commit --date=relative --pretty=format:'%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  gr = grep --heading --break
  br = branch
  co = checkout
  df = diff
  ci = commit
  amend = commit --amend
  rb = rebase
  fa = fetch --all
  rank = shortlog -sn --no-merges
  conflicted = diff --name-only --diff-filter=U

[help]
  format = man
  autocorrect = -1

[init]
  defaultBranch = master

[branch]
  autosetupmerge = always
  sort = -committerdate

[status]
  submoduleSummary = true

[log]
  date = default

[diff]
  algorithm = histogram
  submodule = log

[grep]
  extendRegexp = true
  lineNumber = true

[commit]
  verbose = true
  gpgSign = true

[merge]
  conflictstyle = zdiff3

[rerere]
  enabled = true

[fetch]
  prune = true

[push]
  default = current

[pull]
  ff = only

[gcrypt]
  require-explicit-force-push = true
