# python repl
ipython

# Jupyter notebooks
jupyter

# Create projects from cookiecutter templates
cookiecutter

# Python in the shell
# See https://github.com/hauntsaninja/pyp#pyp
pypyp

# Run local commands using processing power from another machine
outrun
