/* Gruvbox Dark theme */
@define-color bg_h #1d2021;
@define-color bg #282828;
@define-color bg_s #32302f;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;

@define-color fg #fbf1c7;
@define-color fg1 #ebdbb2;
@define-color fg2 #d5c4a1;
@define-color fg3 #bdae93;
@define-color fg4 #a89984;

@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color gray #928374;
@define-color orange #fe8019;

@define-color reddim #cc2412;
@define-color greendim #98971a;
@define-color yellowdim #d79921;
@define-color bluedim #458588;
@define-color purpledim #b16286;
@define-color aquadim #689d6a;
@define-color graydim #a89984;
@define-color orangedim #d65d0e;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Propo", monospace;
}

#waybar {
  background: rgba(40, 40, 40, 0.7); /* @bg + transparency*/
}

#workspaces button {
  padding: 0 8px 2px 8px;
  background: @bg;
  border-top: 2px solid transparent;
  color: @fg4;
}

#workspaces button.focused {
  background: @bg1;
  color: @fg1;
  border-top: 2px solid @fg1;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: @bg2;
  color: @fg0;
  transition: none;
}

#workspaces button.urgent {
  color: @fg;
  background-color: @red;
}

#window {
  background-color: @bg_s;
  color: @fg4;
  padding: 0 8px;
  /* border-radius: 8px; */
}

window#waybar.empty #window {
  /* Make it invisible if empty */
  background-color: transparent;
}

#backlight,
#privacy,
#idle_inhibitor,
#wireplumber,
#bluetooth,
#network,
#cpu,
#memory,
#disk,
#temperature,
#battery,
#clock {
  padding: 0 6px;
  margin-left: 4px;
  color: @fg4;
  background-color: @bg_s;
}

#idle_inhibitor.activated {
  color: @red;
}

#wireplumber.muted {
  color: @red;
}

#network.disconnected {
  color: @red;
}

#memory.critical {
  animation: 0.5s linear 0s infinite alternate attention;
}

#temperature.critical {
  animation: 0.5s linear 0s infinite alternate attention;
}

#battery.charging {
  color: @green;
}

#battery.discharging {
  color: @red;
}

#battery.discharging.critical {
  color: @fg;
  background-color: @reddim;
}

@keyframes attention {
  to {
    color: @fg;
    background-color: @reddim;
  }
}
