* {
  border: none;
  border-radius: 0;
  font-family: "DejaVu Sans Mono";
  font-size: 13px;
}

window#waybar {
  background-color: #002b36;
  color: white;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  border-top: 2px solid white;
  color: #c9545d;
}

#workspaces button.focused {
  color: #c9545d;
  border-top: 2px solid #c9545d;
}

#workspaces button.urgent {
  background-color: red;
  animation: 0.5s linear 0s infinite alternate bgurgent;
}

@keyframes bgurgent {
  to {
    background-color: #002b36;
  }
}

#pulseaudio, #network, #cpu, #memory, #temperature, #battery, #disk, #clock {
  padding: 0 3px;
  margin: 0 2px;
}

#temperature.critical {
  color: rgb(255, 100, 100);
}

#battery.charging {
  color: rgb(100, 255, 100);
}

#battery.discharging {
  color: rgb(255, 100, 100);
}

#battery.discharging.critical {
  color: red;
  animation: 0.5s linear 0s infinite alternate blink;
}

@keyframes blink {
  to {
    color: white;
  }
}

#network.disconnected {
  color: rgb(255, 100, 100);
}

#pulseaudio.muted {
  color: rgb(255, 100, 100);
}
