* {
  border: none;
  border-radius: 0;
  font-family: "DejaVu Sans Mono";
  font-size: 13px;
}

#waybar {
  background-color: #002b36;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #93a1a1;
  border-top: 2px solid transparent;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  border-top: 2px solid white;
  color: #c9545d;
}

#workspaces button.focused {
  color: #c9545d;
  border-top: 2px solid #c9545d;
}

#workspaces button.urgent {
  background-color: red;
}

#window {
  color: #93a1a1;
}

#idle_inhibitor, #pulseaudio, #network, #cpu, #memory, #disk, #temperature, #battery, #clock {
  border-left: 1px solid #005469;
  padding: 0 8px;
  margin: 0;
  color: #93a1a1;
}

#idle_inhibitor.activated {
  color: #c9545d;
}

#pulseaudio.muted {
  color: #c9545d;
}

#network.disconnected {
  color: #c9545d;
}

#memory.critical {
  animation: 0.5s linear 0s infinite alternate attention;
}

#temperature.critical {
  animation: 0.5s linear 0s infinite alternate attention;
}

#battery.charging {
  color: #859900;
}

#battery.discharging {
  color: #c9545d;
}

#battery.discharging.critical {
  animation: 0.5s linear 0s infinite alternate attention;
}

@keyframes attention {
  to {
    background-color: #dc322f;
  }
}
