! General settings
URxvt.saveLines: 65534
URxvt.visualBell: true

! Clickable links
URxvt.perl-ext: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Cursor
Xcursor.theme: basewhite
Xcursor.size: 22

! Font config
Xft.dpi: 96
Xft.hinting: true
Xft.rgba: rgb
Xft.antialias: true
Xft.lcfilter: lcddefault
Xft.hintstyle: hintslight
URxvt.letterSpace: -1
URxvt.font: xft:DejaVu Sans Mono:pixelsize=15
!URxvt.font: xft:Liberation Mono:pixelsize=15
!URxvt.font: xft:SourceCodePro:pixelsize=13

! Scrolling
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized
! Common
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900
! Dark
! #define S_base03        #002b36
! #define S_base02        #073642
! #define S_base01        #586e75
! #define S_base00        #657b83
! #define S_base0         #839496
! #define S_base1         #93a1a1
! #define S_base2         #eee8d5
! #define S_base3         #fdf6e3
! Light
#define S_base03        #fdf6e3
#define S_base02        #eee8d5
#define S_base01        #93a1a1
#define S_base00        #839496
#define S_base0         #657b83
#define S_base1         #586e75
#define S_base2         #073642
#define S_base3         #002b36

*background:              S_base03
*foreground:              S_base0
! *fading:                  40
! *fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1
*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color8:                  S_base03
*color9:                  S_orange
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

! Terminal Colors (modified theme one from http://phraktured.net/terminal-colors/)
! Not in use; using solarized instead
! URxvt.background: rgb:00/00/00
! URxvt.foreground: rgb:e0/e0/e0
! URxvt.color0:     rgb:00/00/00
! URxvt.color1:     rgb:a8/00/00
! URxvt.color2:     rgb:00/a8/00
! URxvt.color3:     rgb:a8/54/00
! URxvt.color4:     rgb:00/00/a8
! URxvt.color5:     rgb:a8/00/a8
! URxvt.color6:     rgb:00/a8/a8
! URxvt.color7:     rgb:a8/a8/a8
! URxvt.color8:     rgb:54/50/54
! URxvt.color9:     rgb:f8/54/50
! URxvt.color10:    rgb:50/fc/50
! URxvt.color11:    rgb:f8/fc/50
! URxvt.color12:    rgb:50/54/f8
! URxvt.color13:    rgb:f8/54/f8
! URxvt.color14:    rgb:50/fc/f8
! URxvt.color15:    rgb:f8/fc/f8
! URxvt.colorBD:        #fff
! URxvt.cursorColor:    gray90
! URxvt.highlightColor: #666

! Some copied xcalc stuff, works fine
xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #111111
xcalc.ti.bevel.screen.background:      #000000
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  White
xcalc.ti.Command.background:  #777777
xcalc.ti.button5.background:  Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
xcalc.ti.button20.label:      /
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle
